# =============== #
# Unity folders #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
3rdParty/
Builds/
LeapMotion/
Models/
QCAR/
MMD4Mecanim/
Textures/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.png
*.vs
# ===================================== #
# Unity generated #
# ===================================== #
*.pidb.meta
sysinfo.txt
*.txt
*.xml
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.meta
*.meta
Sprite
Package
UnityPackageManager
Plugins
Resources
Vuforia
SolarSystem/Assets/readme_SDK.txt
SolarSystem/Assets/link.xml
SolarSystem/Assets/license_3rdpartynotice.txt
AR Cat/QCAR/somedata16
